colorPalette{
color: 
#5B3B20 'brown'
#D17C47 'rust'
#EBD065 'yellow'
#F5ECBC 'pale yellow'
#F7F7F2 'white'
#D8D5CB 'grey'
#CAE2D9 'light teal'
#77B5BB 'teal'
#37686d 'dark teal'
#1f3133 'darkest teal'}


* {
    font-family: 'Nunito', sans-serif;
    
}

#topLogo {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;  
}

h1 {
    text-decoration: underline;
    text-decoration-color: #D17C47;
}

.main-bio p {
    display: inline-block;
    color: #5B3B20;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Nunito', sans-serif;
    
}
nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

a {
    padding-left: 2rem;
    padding-right: 2rem;
    
}

div {
    margin: 1rem;
    text-align: center;
}

.main-page {
    color: #D8D5CB;
}

#hours {
    padding-top: 3rem;
}

.main-page p {
    display: inline-block;
    color: #D8D5CB;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    font-family: 'Nunito', sans-serif;
}

footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-content: center;
    text-align: center;
}

#busy-chart-section {
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}

canvas{
    width:800px !important;
    height:500px !important;
  
  }

