* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#topLogo {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header {
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    
    
}
nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


a {
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    
}

body {
    font-family: 'Nunito', sans-serif;
}

#about {
    margin: 1rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

#about p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main {
    font-size: 14pt;
    text-align: center;
    padding: 1rem;
}

.indexPhotos {
    justify-content: space-around;
    margin: 1rem;
}
.indexPhotos img {
    height: 400px;
    width: 400px;
}

.wrapper {
    width: 1200px;
    margin: 100px auto;

}

.title {
    text-align: center;
    margin-bottom: 60px;
}

.title h4 {
    text-transform: capitalize;
    font-size: 36px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.title h4 span {
    display: block;
    font-size: 18px;
    font-style: italic;
    margin-bottom: -10px;
}

.title h4:before {
    position: absolute;
    content: "";
    width: 100px;
    height:2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}



section {
    align-content: center;
    text-align: center;
}
footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-content: center;
    text-align: center;
    
}

#hours {
    padding-top: 3rem;
}

.main-page p {
    display: inline-block;
    color: #D8D5CB;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    font-family: 'Nunito', sans-serif;
}
.main-page h4 {
    color: #D8D5CB;
    text-decoration: underline;
}

#busy-chart-section {
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}

canvas{
    width:800px !important;
    height:500px !important;
    margin: auto;
}

 
.icon {
    display: flex;
    justify-content: flex;
    align-items: center;}

