* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#topLogo {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;  
}

nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav a {
    padding-left: 2rem;
    padding-right: 2rem; 
}

.title {
    text-align: center;
    margin-bottom: 60px;
}

.title h1 {
    text-decoration: underline;
    text-decoration-color: #D17C47;
    padding-bottom: 10px;
}

.title h1 span {
    display: block;
    margin-bottom: -10px;
}

.main-page {
    color: #D8D5CB;
}

#hours {
    padding-top: 3rem;
}

.main-page p {
    display: inline-block;
    color: #D8D5CB;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    font-family: 'Nunito', sans-serif;
}

footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-content: center;
    text-align: center;
}


#map {
    width: 60%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -140px;
}

#behindMap {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    opacity: .1;
    left: 25%;
    right: 25%;
    bottom: 5%;
    z-index: -1;
    transition: .5s ease;  
}

#map:hover #behindMap{
    opacity: 1;
}

#allStores {
    display: grid;
    grid-template-columns:  6.5% 15% 3% 15% 3% 15% 3% 15% 3% 15% 6.5%;
    grid-template-rows: 20% 40% 40%;
    width: 90%;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 2%;
    color: #D17C47;
}

#allStores div p {
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

#columnTwoTop {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    border-bottom: 3px solid #37686d;
}

#columnFourTop {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    border-bottom: 3px solid #37686d;
}

#columnSixTop {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    border-bottom: 3px solid #37686d;
}

#columnEightTop {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
    border-bottom: 3px solid #37686d;
}

#columnTenTop {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 1;
    border-bottom: 3px solid #37686d;
}

#columnTwoMiddle {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    border-bottom: 3px solid #37686d;
    margin-top: 30px;
    font-size: 1.15rem;
}

#columnFourMiddle {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    border-bottom: 3px solid #37686d;
    margin-top: 30px;
    font-size: 1.15rem;
}

#columnSixMiddle {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
    border-bottom: 3px solid #37686d;
    margin-top: 30px;
    font-size: 1.15rem;
}

#columnEightMiddle {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 2;
    border-bottom: 3px solid #37686d;
    margin-top: 30px;
    font-size: 1.15rem;
}

#columnTenMiddle {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 2;
    border-bottom: 3px solid #37686d;
    margin-top: 30px;
    font-size: 1.15rem;
}

#columnTwoBottom {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    border-bottom: 3px solid #37686d;
    margin-top: 30px;
    font-size: 1.25rem;
}

#columnFourBottom {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    border-bottom: 3px solid #37686d;
    margin-top: 30px;
    font-size: 1.25rem;
}

#columnSixBottom {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
    border-bottom: 3px solid #37686d;
    margin-top: 30px;
    font-size: 1.25rem;
}

#columnEightBottom {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 3;
    border-bottom: 3px solid #37686d;
    margin-top: 30px;
    font-size: 1.25rem;
}

#columnTenBottom {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 3;
    border-bottom: 3px solid #37686d;
    margin-top: 30px;
    font-size: 1.25rem;
}

.cities {
    text-decoration: underline overline #77B5BB;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 25px;
}

.cities:hover {
    color: #77B5BB;
    font-size: 2.4rem;
    font-weight: bold;
    text-decoration: underline overline #D17C47;
    transition: .5s ease-in-out;
    letter-spacing: 10px;
}

td {
    margin: auto;
    text-align: center;
    width:10%
}

.main-page h4 {
    color: #D8D5CB;
    text-decoration: underline;
}

a {
    margin: auto;
    text-decoration: none;
    color: #D17C47;
}

.phone {
    font-size: 1.5rem;
}

.open {
    margin: auto;
    margin: 10%;
    font-weight: 500;
    font-size: x-large;  
}

.icon {    display: flex;    
    justify-content: flex;    
    align-items: center;
}