  h1 {
    font-size: 36pt;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  main {
    width: 840px;
    display: block;    
    margin: 0 auto;
  }

  li {
    
    list-style-type: none;
    text-align: center;
  }
  
  nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

a {
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: none;
}
