* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#topLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow:#1f3133 ;
}

header {
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    
    
}
nav {
    display: block;
    background: linear-gradient(#77B5BB, #37686d);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    text-align: center;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    width: 1200px;
    margin: 100px auto;

}

.title {
    text-align: center;
    margin-bottom: 60px;
}

.title h4 {
    text-transform: capitalize;
    font-size: 36px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.title h4 span {
    display: block;
    font-size: 18px;
    font-style: italic;
    margin-bottom: -10px;
}

.title h4:before {
    position: absolute;
    content: "";
    width: 100px;
    height:2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-menu {
    flex-basis: 588px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-content: center;
    text-align: center;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../images/toastyFoot.png);
}

 
.icon {    display: flex;    justify-content: flex;    align-items: center;}
