* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#topLogo {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header {
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    
    
}
nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


a {
    padding-left: 2rem;
    padding-right: 2rem;
    
}

body {
    font-family: 'Nunito', sans-serif;
}

.wrapper {
    width: 1200px;
    margin: 100px auto;

}

.title {
    text-align: center;
    margin-bottom: 60px;
}

.title h4 {
    text-transform: capitalize;
    font-size: 36px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.title h4 span {
    display: block;
    font-size: 18px;
    font-style: italic;
    margin-bottom: -10px;
}

.title h4:before {
    position: absolute;
    content: "";
    width: 100px;
    height:2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.mmain {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sides {
    padding-bottom: 1rem;
}
.beverages {
    padding-bottom: 1rem;
}

.single-menu {
    flex-basis: 588px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

section {
    align-content: center;
    text-align: center;
}
footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-content: center;
    text-align: center;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../images/toastyFoot.png);
}

#hours {
    padding-top: 3rem;
}
.main-page p {
    display: inline-block;
    color: #D8D5CB;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    font-family: 'Nunito', sans-serif;
}
.main-page h4 {
    color: #D8D5CB;
    text-decoration: underline;
}

 
.icon {    display: flex;    justify-content: flex;    align-items: center;}

li {
    
    list-style-type: none;
    text-align: center;
  }