colorPalette{
color: 
#5B3B20 'brown'
#D17C47 'rust'
#EBD065 'yellow'
#F5ECBC 'pale yellow'
#F7F7F2 'white'
#D8D5CB 'grey'
#CAE2D9 'light teal'
#77B5BB 'teal'
#37686d 'dark teal'
#1f3133 'darkest teal'}


* {
    font-family: 'Nunito', sans-serif;
    
}

#topLogo {
    display: block;
    height: 100px;
    width: 100px;
}

/* header {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
} */

nav {
    display: block;
    background: linear-gradient(#77B5BB, #37686d);
    width: 100%;
    justify-content: space-between;
    text-align: right;
}

a {
    position: relative;
    color: #CAE2D9;
    /* padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem; */
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
    transition: .2s ease-in-out;
    
}

a:hover {
    color: #F7F7F2;
    font-size: 10.5pt;
}

body {
    color: #D17C47;
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-image: url(../images/toastyBack.png);
}
div {
    font-family: 'Nunito', sans-serif;
}
footer {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../images/toastyFoot.png);
}


