colorPalette{
color: 
#5B3B20 'brown'
#D17C47 'rust'
#EBD065 'yellow'
#F5ECBC 'pale yellow'
#F7F7F2 'white'
#D8D5CB 'grey'
#CAE2D9 'light teal'
#77B5BB 'teal'
#37686d 'dark teal'
#1f3133 'darkest teal'}


* {
    font-family: 'Nunito', sans-serif;
    
}

#topLogo {
    display: inline-block;
    height: 100px;
    width: 100px;
}


nav {
    display: block;
    background: linear-gradient(#77B5BB, #37686d);
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

nav a {
    position: relative;
    color: #CAE2D9;
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
    transition: .2s ease-in-out;
    
}

nav a:hover {
    color: #F7F7F2;
    font-size: 10.5pt;
}

body {
    color: #D17C47;
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-image: url(../images/toastyBack.png);
}
div {
    font-family: 'Nunito', sans-serif;
}
footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-content: center;
    text-align: center;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(../images/toastyFoot.png);
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    border: 2px solid white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    overflow:hidden;
}

.icon {    display: flex;    justify-content: flex;    align-items: center;}

